@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary-50: #ffe3ea;
  --color-primary-100: #fec8d6;
  --color-primary-200: #fbabc2;
  --color-primary-300: #f78eaf;
  --color-primary-400: #f16f9c;
  --color-primary-500: #ea4c89;
  --color-primary-600: #bf4171;
  --color-primary-700: #96375a;
  --color-primary-800: #6f2c43;
  --color-primary-900: #4a202e;

  --max-width: 1200px;
}

@theme inline {
  --font-sans: var(--font-montserrat);
  --font-mono: var(--font-montserrat);
}

@layer base {
  :root {
    interpolate-size: allow-keywords;
    color-scheme: light;
    @apply scroll-smooth scrollbar-thin scrollbar-track-transparent;
  }

  :root.dark {
    color-scheme: dark;
  }

  :is(h1, h2, h3, h4, h5, h6) {
    @apply font-semibold text-balance;
  }

  :is(button, a) {
    @apply cursor-pointer;
  }
}

@layer components {
  .primary-btn {
    @apply border-primary-500 bg-primary-500 font-semibold text-neutral-50 transition-opacity hover:opacity-80;
  }

  .secondary-btn {
    @apply border-neutral-200 text-neutral-950 hover:opacity-80 dark:border-neutral-800 dark:text-neutral-50;
  }
}
