@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* Primary Colors */
  --primary-50: #ffe3ea;
  --primary-100: #fec8d6;
  --primary-200: #fbabc2;
  --primary-300: #f78eaf;
  --primary-400: #f16f9c;
  --primary-500: #ea4c89;
  --primary-600: #bf4171;
  --primary-700: #96375a;
  --primary-800: #6f2c43;
  --primary-900: #4a202e;

  --max-width: 1200px;
}

@theme inline {
  --font-sans: var(--font-montserrat);
  --font-mono: var(--font-montserrat);
}

@layer base {
  :root {
    interpolate-size: allow-keywords;
  }

  *,
  *::before,
  *::after {
    scrollbar-width: thin;
  }

  :is(h1, h2, h3, h4, h5, h6) {
    @apply font-semibold text-balance;
  }

  :is(button, a) {
    @apply cursor-pointer;
  }
}

@layer components {
  .btn-primary {
    @apply border-(--primary-500) bg-(--primary-500) font-semibold text-neutral-50 transition-opacity hover:opacity-80;
  }

  .btn-secondary {
    @apply border-neutral-200 text-neutral-950 transition-[opacity,border-color,color] duration-300 hover:opacity-80 dark:border-neutral-700 dark:text-neutral-50;
  }
}

/*

  .primary.success {
    background-color: var(--success-500);
  }
     */
