@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary-50: #ffe3ea;
  --color-primary-100: #fec8d6;
  --color-primary-200: #fbabc2;
  --color-primary-300: #f78eaf;
  --color-primary-400: #f16f9c;
  --color-primary-500: #ea4c89;
  --color-primary-600: #bf4171;
  --color-primary-700: #96375a;
  --color-primary-800: #6f2c43;
  --color-primary-900: #4a202e;

  --max-width: 1200px;
}

@theme inline {
  --font-sans: var(--font-montserrat);
  --font-mono: var(--font-montserrat);
}

@layer base {
  :root {
    interpolate-size: allow-keywords;
  }

  :is(h1, h2, h3, h4, h5, h6) {
    font-weight: var(--font-weight-semibold);
    text-wrap: balance;
  }

  :is(button, a) {
    cursor: pointer;
  }
}

@layer components {
  .btn-primary {
    background-color: var(--color-primary-500);
    color: var(--color-neutral-50);
    padding: --spacing(2.75) --spacing(5.75);
    font-weight: var(--font-weight-semibold);
    text-align: center;
    border: 1px var(--tw-border-style) var(--color-primary-500);
    border-radius: var(--radius-sm);
    transition: opacity 0.3s var(--ease-in-out);

    &:hover {
      opacity: 0.8;
    }
  }

  .btn-secondary {
    color: light-dark(var(--color-neutral-950), var(--color-neutral-50));
    padding: --spacing(2.75) --spacing(5.75);
    font-weight: var(--font-weight-semibold);
    text-align: center;
    border: 1px var(--tw-border-style) light-dark(var(--color-neutral-200), var(--color-neutral-800));
    border-radius: var(--radius-sm);

    transition:
      opacity 0.3s var(--ease-in-out),
      border-color 0.3s var(--ease-in-out),
      color 0.05s var(--ease-in-out);

    &:hover {
      opacity: 0.8;
    }
  }
}
