---
import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
import Layout from "@layouts/Layout.astro";
import SeeText from "@sections/SeeText.astro";
import WriteText from "@sections/WriteText.astro";
---

<Layout title="AluEncrypt">
    <Header />
    <main>
        <WriteText />
        <SeeText />
    </main>
    <Footer />
</Layout>

<style>
    main {
        flex: 1;
        align-self: center;
        padding: 1rem;
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        width: min(calc(var(--max-width) + 2rem), 100%);
    }
</style>

<script src="../scripts/handleEncryption.ts"></script>
