---
type Props = {
    id: string;
    className: string;
};

const { id, className } = Astro.props;
---

<button id={id} class={className}>
    <slot />
</button>

<style>
    button {
        flex: 1;
        padding: 0.5rem 1rem;
        border-radius: 5px;
        text-align: center;
        border: 1px solid var(--primary-color);
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
    }

    .btn-primary {
        background-color: var(--primary-color);
        border: none;
    }

    .btn-secondary {
        background-color: transparent;
    }
</style>
