---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"button"> {
    variant?: "primary" | "secondary";
}

const { variant = "primary", class: className, ...props } = Astro.props;
---

<button class:list={[variant, className]} {...props}>
    <slot />
</button>

<style>
    button {
        flex: 1;
        padding: 0.5rem 1rem;
        border-radius: 5px;
        text-align: center;
        border: 1px solid var(--primary-color);
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
    }

    .primary {
        background-color: var(--primary-color);
        border: none;
        transition: scale 0.3s ease-in-out;

        &:hover {
            scale: 1.01;
        }
    }

    .secondary {
        background-color: transparent;
        color: var(--primary-color);
        transition:
            box-shadow 0.3s ease-in-out,
            color 0.3s ease-in-out,
            border 0.3s ease-in-out;

        &:hover {
            border: 1px solid var(--white-color);
            box-shadow: inset 17rem 0 0 0 var(--white-color);
            color: var(--black-color);
        }
    }
</style>
