---

---

<header>
    <nav>
        <h1>AluEncrypt</h1>
    </nav>
</header>

<style>
    header {
        display: flex;
        justify-content: center;
        padding: 1rem;
        border-bottom: 1px solid light-dark(var(--neutral-800), var(--neutral-200));
    }

    header > nav {
        width: min(var(--max-width), 100%);
        /* background-color: red; */
    }
</style>
