---
import CopyIcon from "@icons/CopyIcon.astro";
import Button from "@components/Button.astro";
import DocumentIcon from "@components/icons/DocumentIcon.astro";
---

<section>
    <span id="output-text"></span>
    <div>
        <figure>
            <DocumentIcon width={64} height={64} />
        </figure>
        <h2>Ningún mensaje fue encontrado</h2>
        <p>Ingresa el texto que desees encriptar o desencriptar.</p>
    </div>
    <Button id="btn-copy-to-clipboard">
        <CopyIcon width={20} height={20} /> Copiar
    </Button>
</section>

<script src="../scripts/handleClipboard.ts"></script>

<style>
    section {
        flex: 1 250px;
        position: relative;
        border-radius: var(--border-radius-out);
        border: 1px solid light-dark(var(--neutral-800), var(--neutral-200));
        display: flex;
        flex-direction: column;
        padding: 1rem;
    }

    section > div {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        margin: auto;
        text-align: center;
    }

    section > div > figure {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 96px;
        height: 96px;
        color: var(--primary-500);
        background-color: #ea4c891a;
        border-radius: 9999px;
    }

    section > div > h2 {
        font-size: var(--text-size-medium);
    }

    section > :global(button) {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: calc(100% - 2rem);
        bottom: 1rem;
        border-radius: var(--border-radius-in);
    }

    /* .no-message-found-container,
    .message-found-container {
        position: absolute;
        width: 100%;
        padding: 1rem;
        display: flex;
    }

    .no-message-found-container {
        top: 50%;
        transform: translateY(-50%);
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    } 

    .message-found-container {
        bottom: 0;
        display: none;
    }
*/
</style>
