---
import CopyIcon from "@icons/CopyIcon.astro";
import Button from "@components/Button.astro";
import DocumentIcon from "@components/icons/DocumentIcon.astro";
---

<section>
    <span id="output-text"></span>
    <div>
        <figure>
            <DocumentIcon width={64} height={64} />
        </figure>
        <h2>Ningún mensaje fue encontrado</h2>
        <p>Ingresa el texto que desees encriptar o desencriptar.</p>
    </div>
    <Button id="btn-copy-to-clipboard">
        <CopyIcon width={20} height={20} /> Copiar
    </Button>
</section>

<script src="../scripts/handleClipboard.ts"></script>

<style>
    section {
        flex: 1 250px;
        position: relative;
        border-radius: var(--border-radius-out);
        border: 1px solid light-dark(var(--neutral-800), var(--neutral-200));
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 1rem;
    }

    section > span {
        /* max-width: 400px; */
        text-wrap: break-word;
        overflow-wrap: anywhere;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
    }

    section > span:not(:empty) {
        opacity: 1;
    }

    section > span:not(:empty) + div {
        opacity: 0;
        scale: 0;
    }

    section > div {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        text-align: center;
        scale: 1;
        transition:
            opacity 0.3s ease-in-out,
            scale 0.3s ease-in-out;
    }

    section > div > figure {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 96px;
        height: 96px;
        color: var(--primary-500);
        background-color: #ea4c891a;
        border-radius: 9999px;
    }

    section > div > h2 {
        font-size: var(--text-size-medium);
    }

    section > :global(button) {
        flex: none;
        border-radius: var(--border-radius-in);
    }

    section > span:empty ~ :global(button) {
        opacity: 0;
        pointer-events: none;
    }

    @starting-style {
        section > span:not(:empty) + div {
            scale: 1;
        }
    }
</style>
